[Unit]
Description=RevFlow Real Backend
After=network.target postgresql.service

StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=root
WorkingDirectory=/opt/revflow-real-ui/backend
Environment="DB_PASSWORD=revflow_afbbce2eab3464e0b9e54e50"
ExecStart=/usr/bin/python3 -m uvicorn main:app --host 0.0.0.0 --port 8203

Restart=on-failure
RestartSec=10s
CPUAccounting=true
MemoryAccounting=true
MemoryHigh=2G
MemoryMax=3G

[Install]
WantedBy=multi-user.target

