[Unit]
Description=RevFlow Outline Generator Service
After=network.target

StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=root
WorkingDirectory=/opt/revflow-pipeline/microservices/outline-generator
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/python3 /opt/revflow-pipeline/microservices/outline-generator/OUTLINE_GENERATOR_app.py
StandardOutput=append:/opt/revflow-pipeline/microservices/outline-generator/outline.log
StandardError=append:/opt/revflow-pipeline/microservices/outline-generator/outline.log

Restart=on-failure
RestartSec=10s
CPUAccounting=true
MemoryAccounting=true
MemoryHigh=2G
MemoryMax=3G

[Install]
WantedBy=multi-user.target

