[Unit]
Description=RevHome DOCKER NAT packet counter monitor
After=docker.service
Wants=docker.service

StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/usr/local/bin/revhome-nat-monitor.sh
User=root
Nice=5

Restart=on-failure
RestartSec=10s
CPUAccounting=true
MemoryAccounting=true
MemoryHigh=2G
MemoryMax=3G
